html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: radial-gradient(rgb(255, 236, 236) 1%,rgb(255, 236, 236) 50%, 
    rgb(185, 185, 221) 50%, rgb(185, 185, 221) 100%);
    background-size: 2rem;
}
nav {
    font-size: 2rem;
    margin: 1rem;
}