html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: radial-gradient(rgb(255, 236, 236) 1%,rgb(255, 236, 236) 30%, 
    rgb(1, 197, 171) 20%, rgb(125, 136, 131) 90%);
    background-size: 2rem;
}
nav {
    font-size: 2rem;
    margin: 1rem;
}